<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" *ngIf="loggedIn == true">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Booktraders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-books" routerLinkActive="active">All Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/my-books" routerLinkActive="active">My Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-trades" routerLinkActive="active">My Trades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn == undefined  || loggedIn == false">
            <a class="nav-link"  (click)="signInWithFB(); sendMessage();">Facebook Login</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn == true"> 
          <a class="nav-link" (click)="signOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- if the user is logged in, the navbar above is displayed, controlled by *ngIf="user != undefined" -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" *ngIf="loggedIn == undefined  || loggedIn == false">
    <div class="container" id="mobile-menu-hide">
      <a class="navbar-brand" id="navbrand" routerLink="/home">Booktraders</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn == undefined  || loggedIn == false">
              <a class="nav-link"  (click)="signInWithFB(); sendMessage();">Facebook Login</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn == true"> 
            <a class="nav-link" (click)="signOut()">Log Out</a>
          </li>
        </ul>
    </div>
    <div class="container" id="mobile-menu-show">
        <ul class="navbar-nav" id="add-margin-left">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="user == undefined">
                <a class="nav-link"  (click)="signInWithFB(); sendMessage();">Facebook Login</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn == true "> 
              <a class="nav-link" (click)="signOut();">Log Out</a>
            </li>
          </ul>
    </div>
  </nav>

  <div style="margin-top: 100px;" class="mobile-fix" *ngIf="loggedIn == undefined  || loggedIn == false" >
      <div class="container">
          <div class="jumbotron text-center" style="background-image: url('https://cdn.pixabay.com/photo/2016/11/18/16/49/books-1835753__340.jpg'); color: white;">
            <h1>Booktraders</h1>
            <p class="lead">A book trading website for book lovers!</p>
          </div>
        <div class="d-flex flex-column">
          <h4>Please sign in with Facebook to use Booktraders.</h4>
        <!--  <button class="loginBtn loginBtn--facebook" (click)="signInWithFB(); sendMessage();" >Login with Facebook</button></p>-->
          <div class="fb-login-button" data-width="142" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        
        
        </div>
      </div>
    </div><!-- close div -->
    

<!-- if the user is not logged in, the navbar above is displayed, controlled by *ngIf="loggedIn == undefined  || loggedIn == false"
    done to improve logging in on mobile -->
