<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Booktraders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="user != undefined">
          <a class="nav-link" routerLink="/all-books" routerLinkActive="active">All Books</a>
        </li>
        <li class="nav-item" *ngIf="user != undefined">
            <a class="nav-link" routerLink="/my-books" routerLinkActive="active">My Books</a>
        </li>
        <li class="nav-item" *ngIf="user != undefined">
          <a class="nav-link" routerLink="/my-trades" routerLinkActive="active">My Trades</a>
        </li>
        <li class="nav-item" *ngIf="user != undefined">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
        </li>
        <div ></div>
        <li class="nav-item" *ngIf="user == undefined">
            <a class="nav-link"  (click)="signInWithFB(); sendMessage();">Facebook Login</a>
        </li>
        <li class="nav-item" *ngIf="user != undefined"> 
          <a class="nav-link" (click)="signOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="user != undefined">
  <img src='{{ user.photoUrl }}'>
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
</div>
<!--
<button (click)="signInWithFB()">Sign In with Facebook</button>

<button (click)="signOut()">Sign Out with Facebook</button>-->