<div class="container">
    <div class="row flex-column">

        <h4>My Profile</h4>
        <p class="text-muted">Fill out your City and Sate in your profile to help facilitate meeting up for book exchanges.
        </p>
    </div>
</div>

<div class="container">

    <div class="row flex-column col-6-profile" *ngIf="myProfileUser != undefined">
            <label for="basic-url">Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" aria-describedby="user-name" value="{{myProfileUser.name}}" disabled >
            </div>
            <br>
            <label for="basic-url">City:</label>
            <div class="input-group">
                <input type="text" class="form-control" aria-describedby="user-city" *ngIf="myProfileUser.city != null" value="{{myProfileUser.city}}"  [(ngModel)]="myProfileUser.city" [disabled]="isDisabled()">
                <input type="text" class="form-control" aria-describedby="user-city" *ngIf="myProfileUser.city == null"  [(ngModel)]="myProfileUser.city"   [disabled]="isDisabled()">
            </div>
            <br>
            <label for="basic-url">State:</label>
            <div class="input-group">
                <input type="text" class="form-control" aria-describedby="user-state" *ngIf="myProfileUser.state != null" value="{{myProfileUser.state}}" [(ngModel)]="myProfileUser.state" [disabled]="isDisabled()" >
                <input type="text" class="form-control" aria-describedby="user-city" *ngIf="myProfileUser.state == null" [(ngModel)]="myProfileUser.state"    [disabled]="isDisabled()">
            </div>
            <br>
            <div *ngIf="is_disabled === true">
                <a class="orange"><span class="button-span-orange" (click)="editUserInfo()">Edit Profile Info</span></a>
            </div>
            <div *ngIf="is_disabled === false">
                    <a class="blue"><span class="button-span-blue" (click)="saveEdit()">Save Profile Info</span></a>
            </div>
    </div>
</div>