
<div class="container" style="margin-top: 50px">
  <div class="row flex-column">
    <div class="flex-column">
      <h4>New Book</h4>
      <p class="text-muted">Press the "Add Book" button to find a new book using Google Books API and add it to your Library.</p>
      <label style="margin-top: 30px">Search for A New Book</label>
      <input [(ngModel)]="search" type="text" class="form-control" (keydown.enter)="LookupUserInfoAddBook(); updatemodalStyle();" placeholder="Enter book title, author, or topic" aria-describedby="enterbook" style="max-width: 560px; margin-bottom: 12px;">
      <div style="font-size: 18px; color: red;">{{message}}</div>
      <div style="margin-top: 5px">
          <a class="green" (click)="LookupUserInfoAddBook(); updatemodalStyle();"><span class="button-span">Search Now</span></a> <!--button -->    
      </div>
    </div>
  </div>


    <!-- The Modal -->
  <div id="myModal" class="modal" [style.display]="modalStyle ? 'block' : 'none'">
      <!-- Modal content -->
    <div class="modal-content">
      <div *ngIf="forkJoinStream && forkJoinStream.length > 0">
          <div>
              <div  *ngFor="let search of forkJoinStream[1].items; let i = index" style="border: 1px solid grey;" class="fix-width-modal-content">
                <div style="display: flex; flex-wrap: wrap;"> 
                    <div *ngIf="search.volumeInfo.imageLinks != undefined">
                      <img src="{{search.volumeInfo.imageLinks.thumbnail}}" style="margin-right: 20px; margin-bottom: 20px;"> 
                    </div>  
                    <div style="display: flex; flex-direction: column;">
                      <p><span class="h6">Title:</span> {{search.volumeInfo.title}}</p>
                      <p><span class="h6">Author:</span> <span  *ngFor="let author of search.volumeInfo.authors"> {{author}}  </span></p>
                      <p *ngIf="showShortDescription && search.volumeInfo.description" style="max-width: 550px"><span class="h6" >Description:</span> {{ search.volumeInfo.description.substr(0,100)}}...</p>
                      <p *ngIf="!showShortDescription && search.volumeInfo.description" style="max-width: 550px"><span class="h6">Description: </span> {{ search.volumeInfo.description}}</p>
                      <p (click)="showFullDescription()" style="cursor: pointer;"  *ngIf="search.volumeInfo.description" class="text-muted">Show/Hide Full Description</p>
                    </div>
                </div> 
                <p><a class="green-book" (click)="addToMyBooks(i)"><span class="button-span-green-book">Add to My Books</span></a></p>   
            </div>       
          </div><!-- close div row -->      
      </div><!-- close div *ngIf -->
       <p style="margin-top: 10px;"> <a class="orange" (click)="updatemodalStyle()"><span class="button-span-orange">Close Window</span></a></p>
    </div><!-- close Modal content -->
    
  </div><!-- close Modal -->
  


  <div class="row  flex-column" style="margin-top: 100px;">
    <h4>My Library</h4>
    <p class="text-muted">Press the "View Details" link to read a book's description.</p>
  </div>

  <div class="row" *ngIf="myBooks && myBooks.books.length > 0">
      <div *ngFor="let book of myBooks.books; let i = index" class="d-md-inline-flex">
          <div style="border: 1px solid grey;">
            <div class="no-stretch">
              <div *ngIf="book.bookImages != undefined" style="margin-right: 20px; margin-bottom: 20px;">
                <img class="img-myBooks" src={{book.bookImages.thumbnail}}>
              </div>
            </div>
            <div class="book-details">
              <p><span class="h6">Title:</span> {{book.bookTitle}}</p>
              <p><span class="h6">Author:</span> <span  *ngFor="let author of book.bookAuthors"> {{author}} </span></p>
              <p><a class="green-book" (click)="modalDetailView(i)"><span class="button-span-green-book">View Book</span></a></p>
            </div>
          </div>
        </div>
  </div>
  <!--close row -->
</div>
<!--close container -->

 <!-- The View Details Modal -->
 <div id="myDetailModal" class="modal" [style.display]="modalDetailStyle ? 'block' : 'none'">
    <!-- Modal content -->
  <div class="modal-content">
      <div *ngIf="modalDetailBook">
            <div style="display: flex; flex-wrap: wrap; border: 1px solid grey;" class="fix-width-modal-content">
               <div *ngIf="modalDetailBook.bookImages != undefined"  style="margin-right: 20px; margin-bottom: 20px;">
                  <img src={{modalDetailBook.bookImages.thumbnail}}>
                </div> 
                <div style="display: flex; flex-direction: column;">
                  <p><span class="h6">Title:</span> {{modalDetailBook.bookTitle}}</p>
                  <p><span class="h6">Author:</span> <span  *ngFor="let author of  modalDetailBook.bookAuthors"> {{author}} </span></p>
                  <p style="max-width: 550px"><span class="h6">Description: </span> {{ modalDetailBook.bookDescription}}</p>
                </div>
              </div>                
            <p style="align-self: flex-end;">
              <a class="green-close" (click)="modalDetailView();"><span class="button-span-green-close">Close</span></a> 
              <a class="red" (click)="removeFromLibrary(); modalDetailView();"><span class="button-span-red">Remove from Library</span></a>
            </p>
      </div>
  </div><!-- close Modal content -->
  
</div><!-- close Modal -->