
<div class="container" style="margin-top: 50px">
  <div class="row flex-column">
    <div class="flex-column">
      <h4>New Book</h4>
      <p class="text-muted">Press the "Add Book" button to find a new book using Google Books API and add it to your Library.</p>
      <label style="margin-top: 30px">Search for A New Book</label>
      <input [(ngModel)]="search" type="text" class="form-control"  placeholder="Enter book title, author, or topic" aria-describedby="enterbook" style="max-width: 560px; margin-bottom: 12px;">
      <div>{{search}}<br></div>      
      <div>{{message}}</div>
      <div><button type="button" (click)="LookupUserInfoAddBook(); updatemodalStyle()" class="btn btn-default">Search for book!</button></div>
    </div>
  </div>


    <!-- The Modal -->
    <div id="myModal" class="modal" [style.display]="modalStyle ? 'block' : 'none'">
  
      <!-- Modal content -->
      <div class="modal-content">
        <div class="row justify-content-center">
          <div *ngFor="let search of bookSearch; let i = index" class="flex-column fix-width-modal-content">
            <img src="{{search.volumeInfo.imageLinks.smallThumbnail}}">   
            <p><span class="h6">Title:</span> {{search.volumeInfo.title}}</p>
            <p><span class="h6">Author:</span> <span  *ngFor="let author of search.volumeInfo.authors"> {{author}}  </span></p>
            <p *ngIf="showShortDescription && search.volumeInfo.description"><span class="h6" >Description:</span> {{ search.volumeInfo.description.substr(0,100)}}...</p>
            <p *ngIf="!showShortDescription && search.volumeInfo.description"><span class="h6">Description: </span> {{ search.volumeInfo.description}}</p>
            <p (click)="showFullDescription()" style="color: blue; cursor: pointer;"  *ngIf="search.volumeInfo.description" class="text-muted">Show/Hide Full Description</p>
            <button class="btn btn-primary" (click)="addToMyBooks()" style="max-width: 300px">Add To My Books</button>
            
          </div>
          
        </div><!-- close div row -->
        <div class="row justify-content-center">
          <button class="btn btn-default" (click)="updatemodalStyle()" style="max-width: 300px">Close Modal</button>
        </div>
      </div><!-- close Modal content -->
  
    </div>
  


  <div class="row  flex-column" style="margin-top: 100px;">
    <h4>My Library</h4>
    <p class="text-muted">Press the "View Details" link to read a book's description.</p>
  </div>

  <div class="row">

    <div *ngFor="let book of books" class="d-md-inline-flex add-border">
      <div>
        <div class="no-stretch">
            <img src={{book.volumeInfo.imageLinks.thumbnail}}>
        </div>
        <div class="book-details">
          <p>
            <strong>Title:</strong> {{book.volumeInfo.title}}</p>
          <p>
            <strong>Author:</strong> {{book.volumeInfo.authors}}</p>
          <p>
            <strong>Owner:</strong> Booktraders User Name</p>
          <p>View Details</p>
        </div>
      </div>
    </div>

  </div>
  <!--close row -->
</div>
<!--close container -->