

<app-login (messageEvent)="receiveMessage($event)"></app-login>

<div style="margin-top: 100px;" class="mobile-fix" *ngIf="isLoggedIn == true" >

  <router-outlet></router-outlet>

</div><!-- close div -->

<div style="margin-top: 100px;" class="mobile-fix" *ngIf="isLoggedIn == false" >
  <div class="container">
      <div class="jumbotron text-center" style="background-image: url('https://cdn.pixabay.com/photo/2016/11/18/16/49/books-1835753__340.jpg'); color: white;">
        <h1>Booktraders</h1>
        <p class="lead">A book trading website for book lovers!</p>
      </div>
    <div class="d-flex justify-content-center">
      <h2>Please sign in with Facebook to use Booktraders.</h2>
    </div>
  </div>
</div><!-- close div -->


  <!-- Site footer -->
 <div class="container">
    <footer class="footer">
      <p>Message: {{message}}</p>
      <p>&copy; Company 2017</p>
    </footer>
</div>