<div class="container">
  <div class="row flex-column btm-margin">
    <h4>My Trade Requests</h4>
    <p class="text-muted">View and approve Trade Requests from other users on Booktraders.
    </p>
  </div>
</div>

<div class="container">
  <div class="row btm-margin">
    <div *ngIf="tradeRequests.length > 0">
      <h4>Trade Requests</h4>
    </div>
  </div>
  <div *ngIf="tradeRequests.length > 0">
    <div class="row flex-column btm-margin" *ngFor="let request of tradeRequests; let i = index">
      <p><span class="h6">Title:</span>  {{request.bookTitle}}
        <a style="color: blue; margin-left: 5px;" (click)="viewRequest(i)">View More</a>
      </p>
    </div>
  </div>
  <div class="row btm-margin">
    <div *ngIf="tradesRequested.length > 0">
      <h4>Trades Requested</h4>
    </div>
  </div>
  <div *ngIf="tradesRequested.length > 0">
    <div class="row flex-column btm-margin" *ngFor="let requested of tradesRequested; let i = index">
      <p><span class="h6">Title:</span>  {{requested.bookTitle}}
        <a style="color: blue; margin-left: 5px;" (click)="viewTradesRequested(i)">View More</a>
      </p>
    </div>
  </div>
</div>

  <!-- The Modal -->
<div class="modal" [style.display]="modalStyle ? 'block' : 'none'">
    <!-- Modal content -->
  <div class="modal-content" >
    <div *ngIf="modalTradeInfo != undefined">
        <div class="row flex-column" style="padding: 5px;">
            <div *ngIf="modalTradeInfo.bookImages != undefined  && modalTradeInfo.bookImages.thumbnail != null ">
                <img src="{{modalTradeInfo.bookImages.thumbnail}}" style="margin-right: 20px; margin-bottom: 20px;"> 
            </div>  
          <p><span class="h6">Title:</span> {{modalTradeInfo.bookTitle}}</p>
          <p><span class="h6">Author:</span> <span  *ngFor="let author of modalTradeInfo.bookAuthors"> {{author}}  </span></p>
          <p><span class="h6">Trade Requester:</span> {{modalTradeInfo.tradeRequester}}</p>
          <div *ngIf="tradePending != undefined">
            <p><span class="h6">Trade Status: </span><span style="color:coral">{{tradePending}} </span> </p>
          </div>
          <p><button class="md-raised md-button md-ink-ripple" type="button" (click)="approveTrade()">Approve Trade<div class="md-ripple-container"></div></button></p>
          <p><button class="md-raised md-button md-ink-ripple" type="button" (click)="rejectTrade()">Reject Trade<div class="md-ripple-container"></div></button></p>
          <p><button class="md-raised md-button md-ink-ripple" type="button" (click)="closeModal()">Close<div class="md-ripple-container"></div></button></p>
        </div>
   
   </div><!-- close Modal content -->
  </div>
</div><!-- close Modal -->


    <!-- The Modal -->
  <div class="modal-2" [style.display]="modalTwoStyle ? 'block' : 'none'">
      <!-- Modal content -->
    <div class="modal-content-2" >
        <div *ngIf="modalTwoInfo != undefined">
            <div class="row flex-column" style="padding: 5px;">
                <div *ngIf="modalTwoInfo.bookImages != undefined  && modalTwoInfo.bookImages.thumbnail != null ">
                    <img src="{{modalTwoInfo.bookImages.thumbnail}}" style="margin-right: 20px; margin-bottom: 20px;"> 
                </div>  
              <p><span class="h6">Title:</span> {{modalTwoInfo.bookTitle}}</p>
              <p><span class="h6">Author:</span> <span  *ngFor="let author of modalTwoInfo.bookAuthors"> {{author}}  </span></p>
              <p><span class="h6">Trade Requester:</span> {{modalTwoInfo.tradeRequester}}</p>
              <p><span class="h6">Trade Status: </span><span style="color:coral"> {{isApproved}}</span></p>
              <p><button class="md-raised md-button md-ink-ripple" type="button" (click)="deleteRequest()">Delete Request<div class="md-ripple-container"></div></button></p>
              <p><button class="md-raised md-button md-ink-ripple" type="button" (click)="closeModalTwo()">Close<div class="md-ripple-container"></div></button></p>
            </div>
    </div><!-- close Modal content -->
    
  </div><!-- close Modal -->


  