<div class="container">
  <div class="row flex-column btm-margin">
    <h4>My Trade Requests</h4>
    <p class="text-muted">View and approve Trade Requests from other users on Booktraders.
    </p>
  </div>
</div>

<div class="container">
  <div class="row btm-margin">
    <div *ngIf="tradeRequests.length > 0">
      <h4>Trade Requests</h4>
    </div>
  </div>
  <div *ngIf="tradeRequests.length > 0">
    <div class="row flex-column btm-margin" *ngFor="let request of tradeRequests; let i = index">
      <p><span class="h6">Title:</span>  {{request.bookTitle}}
        <a style="color: blue; margin-left: 5px;" (click)="viewRequest(i)">View More</a>
      </p>
    </div>
  </div>
  <div class="row btm-margin">
    <div *ngIf="tradesRequested.length > 0">
      <h4>Trades Requested</h4>
    </div>
  </div>
  <div *ngIf="tradesRequested.length > 0">
    <div class="row flex-column btm-margin" *ngFor="let requested of tradesRequested; let i = index">
      <p><span class="h6">Title:</span>  {{requested.bookTitle}}
        <a style="color: blue; margin-left: 5px;" (click)="viewRequested(i)">View More</a>
      </p>
    </div>
  </div>
</div>



    <!-- The Modal -->
    <div id="myModal" class="modal" [style.display]="modalStyle ? 'block' : 'none'">
        <!-- Modal content -->
      <div class="modal-content" >
        <div *ngIf="modalTradeInfo != undefined">
            <div class="row flex-column" style="padding: 5px;">
                <div *ngIf="modalTradeInfo.bookImages != undefined">
                    <img src="{{modalTradeInfo.bookImages.thumbnail}}" style="margin-right: 20px; margin-bottom: 20px;"> 
                </div>  
              <p><span class="h6">Title:</span> {{modalTradeInfo.bookTitle}}</p>
              <p><span class="h6">Author:</span> <span  *ngFor="let author of modalTradeInfo.bookAuthors"> {{author}}  </span></p>
              <p><span class="h6">Trade Requester:</span> {{modalTradeInfo.tradeRequester}}</p>
              <p><span class="h6">Trade Status:</span> {{tradePending}}</p>
              <button (click)="approveTrade()" style="max-width: 250px">Approve Trade</button>
              <button (click)="rejectTrade()" style="max-width: 250px">Reject Trade</button>
              <button (click)="closeModal()" style="max-width: 250px">Close</button>
            </div>
       
      </div><!-- close Modal content -->
      
    </div><!-- close Modal -->
    