<div class="container">
  <div class="row flex-column">

      <h4>My Trade Requests</h4>
      <p class="text-muted">View and approve Trade Requests from other users on Booktraders.
      </p>
  </div>
</div>

<div class="container">
  <h4>Trade Requests</h4>
  <div *ngIf="tradeRequests.length > 0" >
    <div class="row flex-column" *ngFor="let request of tradeRequests; let i = index">
      <p>{{request.bookTitle}}</p>
    </div>
  </div>

  <h4>Trades Requested</h4>
  <div *ngIf="tradesRequested.length > 0">
    <div class="row flex-column" *ngFor="let requested of tradesRequested; let i = index">
        <p>{{requested.bookTitle}}</p>
    </div>
 </div>
</div>