 <!-- Jumbotron -->
<div class="container">
  <div class="jumbotron text-center">
      <h1>Booktraders</h1>
      <p class="lead">A book trading website for book lovers!</p>
    </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h4>My Books</h4>
      <p>View your library, and new books to your collection using the Google Books API.</p>
      <p><a class="btn btn-primary" href="#" role="button">View Library &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h4>View Books</h4>
      <p>View all books other Booktraders users have added.</p>
      <p><a class="btn btn-primary" href="#" role="button">View All Books &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h4>Trade Books</h4>
      <p>If you see a book you want to read on the list, you can propose a trade.  You can also approve trades other users request for books in your library.</p>
      <p><a class="btn btn-primary" href="#" role="button">View Trade Requests &raquo;</a></p>
    </div>
  </div>
</div><!-- close container -->


