<div class="container">
  <div class="row flex-column">

    <h4>All Books</h4>
    <p class="text-muted">Review all books on Booktraders. <br> Press the "View Details" link to read a book's description and request a trade.</p>
  </div>
</div>

<div class="container">
  
  <div class="row">
 <div *ngFor="let book of allBooks"  class="d-md-inline-flex">
      <div>
        <div class="no-stretch">
            <div *ngIf="book.bookImages != undefined"  style="margin-right: 20px; margin-bottom: 20px;">
                <img src={{book.bookImages.thumbnail}}>
            </div> 
        </div>
        <div class="book-details">
          <p><span class="h6">Title:</span> {{book.bookTitle}}</p>    
          <p><span class="h6">Author:</span> <span  *ngFor="let author of book.bookAuthors"> {{author}} </span></p>
          <p><span class="h6">Owner:</span> {{book.name}}</p>
          <button class="btn btn-success">View <i class="fa fa-book" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>  


</div><!--close row -->

</div><!--close container -->